.App {
  background-color: rgb(247, 242, 235);
  width: 500px;
  margin: 40px auto;
  height: 400px;
}
h1 {
  color: rgb(119, 51, 3);
  margin-top: 70px;
  text-align: center;
}
form {
  text-align: center;
}
input {
  padding: 10px;
  margin-top: 20px;

  border: 1px solid grey;
  border-radius: 6px;
}
.searchInput {
  margin-right: 20px;
}
ul {
  margin-left: 100px;
  list-style: none;
  margin-top: 50px;
  line-height: 25px;
}
